
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    background-color: #ffffff;
}

#app {
    width: 15rem;
    height: 100%;
    transition: all ease 1s;
}

#app > div {
    float: left;
}

@keyframes bgmove {
    0% {
        -ms-background-position-x: 0;
        background-position-x: 0;
    }
    100% {
        -ms-background-position-x: 100%;
        background-position-x: 100%;
    }
}

@keyframes moveto {
    0% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(4rem);
        -moz-transform: translateX(4rem);
        -ms-transform: translateX(4rem);
        -o-transform: translateX(4rem);
        transform: translateX(4rem);
    }

}

#first {
    width: 7.5rem;
    height: 100%;
    position: relative;
    flex: none;
    background-image: url("../images/bg_01.png");
    background-position: center;
    background-size: cover;
}

#first .fairy {
    width: 1rem;
    height: 1rem;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-position: center;
    -webkit-box-shadow: 0 0 10px 10px rgba(255, 255, 255, .8);
    position: absolute;
    left: .75rem;
    top: 7.3rem;
    border-radius: 50%;
    animation: float 4.5s linear 0s infinite forwards;
    z-index: 999;
}

@keyframes float {
    0% {
        transform: translate(0, 0);
    }
    12.5% {
        transform: translate(1.25rem, -0.5rem);
    }
    25% {
        transform: translate(2.5rem, 0);
    }
    37.5% {
        transform: translate(3.75rem, -0.5rem);
    }
    50% {
        transform: translate(5rem, 0);
    }
    62.5% {
        transform: translate(3.75rem, -0.5rem);
    }
    75% {
        transform: translate(2.5rem, 0);
    }
    87.5% {
        transform: translate(1.25rem, -0.5rem);
    }
    100% {
        transform: translate(0, 0);
    }
}

@-webkit-keyframes float {
    0% {
        transform: translate(0, 0);
    }
    12.5% {
        transform: translate(1.25rem, -0.5rem);
    }
    25% {
        transform: translate(2.5rem, 0);
    }
    37.5% {
        transform: translate(3.75rem, -0.5rem);
    }
    50% {
        transform: translate(5rem, 0);
    }
    62.5% {
        transform: translate(3.75rem, -0.5rem);
    }
    75% {
        transform: translate(2.5rem, 0);
    }
    87.5% {
        transform: translate(1.25rem, -0.5rem);
    }
    100% {
        transform: translate(0, 0);
    }
}

.sun {
    width: 2.82rem;
    height: 2.82rem;
    background-image: url("../images/stwind_03.png");
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: .2rem;
    left: 0;
    animation: moveto 20s linear forwards;
}

#first .tree {
    width: 5.24rem;
    height: 5.78rem;
    background-image: url("../images/tree_03.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 1rem;
    top: 6.2rem;
    z-index: 10;
}

#first .shadow-tree {
    width: 1.43rem;
    height: .91rem;
    background-image: url("../images/shadow_03.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 5.2rem;
    top: 11.8rem;
    animation: swing 20s linear forwards;
    transform-origin: top left;

}

@keyframes swing {
    0% {
        transform: rotateZ(0deg);
        width: 2rem;
    }
    50% {
        transform: rotateZ(45deg);
        height: .5rem;
        background-size: contain;
        top: 11.5rem;

    }
    100% {
        transform: rotateZ(90deg);
        width: 1.43rem;
        height: .91rem;
        background-size: cover;
        left: 5rem;
        top: 11.8rem;
    }
}

#first .cloud1 {
    width: 4.03rem;
    height: 2.1rem;
    background-image: url("../images/first_06.png");
    background-size: cover;
    background-position: center center;
    position: absolute;
    left: .5rem;
    top: 2.03rem;
    animation: movetodown 5s linear alternate infinite;
}

#first .cloud2 {
    width: 5.04rem;
    height: 1.16rem;
    background-image: url("../images/first_10.png");
    background-size: cover;
    background-position: center center;
    position: absolute;
    left: .5rem;
    top: 4.5rem;
    animation: moveto 5s linear infinite alternate;
}

#first .cloud3 {
    width: 3.69rem;
    height: .72rem;
    background-image: url("../images/first_14.png");
    background-size: cover;
    background-position: center center;
    position: absolute;
    right: .5rem;
    top: 6rem;
    animation: moveto 5s linear infinite alternate;

}

@keyframes movetodown {
    0% {
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -ms-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);

    }
    100% {
        -webkit-transform: translateX(4rem) translateY(1rem);
        -moz-transform: translateX(4rem) translateY(1rem);
        -ms-transform: translateX(4rem) translateY(1rem);
        -o-transform: translateX(4rem) translateY(1rem);
        transform: translateX(4rem) translateY(1rem);
    }

}

#sec {
    width: 7.5rem;
    height: 100%;
    flex: none;
    position: relative;
    background-image: url("../images/bg_03.png");
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    /*animation: scaleShow 10s linear forwards ;*/
}

#sec .door {
    width: 1.78rem;
    height: 3.12rem;
    background-image: url("../images/sec_03.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 8.75rem;
    right: 0;
}

#sec .zhalan {
    width: .51rem;
    height: 1.84rem;
    background-image: url("../images/sec2_17.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 10.3rem;
    right: 0;
}

@keyframes scaleShow {
    0% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
        border-radius: 0;
    }
    100% {
        -webkit-transform: scale(.5, .5) rotateZ(360deg);
        -moz-transform: scale(.5, .5) rotateZ(360deg);
        -ms-transform: scale(.5, .5) rotateZ(360deg);
        -o-transform: scale(.5, .5) rotateZ(360deg);
        transform: scale(.5, .5) rotateZ(360deg);
        border-radius: 50%;

    }
}

#sec .direct {
    width: 2.81rem;
    height: 5.01rem;
    background-image: url("../images/dir_03.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 6rem;
    right: 1.2rem;
}

#sec.active .arrow {
    width: 2.23rem;
    height: .65rem;
    background-image: url("../images/diritem_06.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: .5rem;
    left: -.7rem;
    animation: rotate 2s linear infinite, drops 1s cubic-bezier(0, 0, 0, 1.45) 3.5s forwards;
}

#sec.active .light {
    width: 1.32rem;
    height: 1.65rem;
    background-image: url("../images/diritem_03.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 1rem;
    left: 1.6rem;
    animation: sway 10s linear infinite alternate;
    transform-origin: top left;
}

#sec .lightShadow {
    width: .8rem;
    height: 1.2rem;
    background: rgba(255, 255, 255, 0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, .5);
}

@keyframes rotate {
    0% {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes drops {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(4.54rem);
        -moz-transform: translateY(4.54rem);
        -ms-transform: translateY(4.54rem);
        -o-transform: translateY(4.54rem);
        transform: translateY(4.54rem);
    }
}

@keyframes sway {
    0% {
        -webkit-transform: rotateZ(15deg);
        -moz-transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -o-transform: rotateZ(15deg);
        transform: rotateZ(15deg);
    }
    100% {
        -webkit-transform: rotateZ(-45deg);
        -moz-transform: rotateZ(-45deg);
        -ms-transform: rotateZ(-45deg);
        -o-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
    }
}

#third {
    width: 7.5rem;
    height: 100%;
    flex: none;
    position: relative;
    background-image: url("../images/bg_06.png");
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    overflow: hidden;
    /*animation: scaleShow 10s linear forwards ;*/
}

#third .funny {
    width: 8.29rem;
    height: 6.92rem;
    background-image: url("../images/funny_06.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 5rem;
    left: 0;
    z-index: 10;
}

#third .flag {
    width: 1.32rem;
    height: 2.09rem;
    background-image: url("../images/funny_03.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -1.8rem;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
}

/*   */
@keyframes alt {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(6rem);
    }
}

#four {
    width: 21.3rem;
    height: 100%;
    background-image: url("../images/bg_04.png");
    background-size: 21.3rem 100%;
    position: relative;
    transform-origin: 10.9rem 9.6rem ;
    transition: all ease 3s;
}

#four.active {
    animation: alt 2s  cubic-bezier(0.55, 0.06, 0.68, 0.19)  forwards 1s;
}


.wheels {
    width: 5.37rem;
    height: 5.37rem;
    border-radius: 50%;
    position: absolute;
    left:14.8rem;
    top:2.9rem;
}
.wheels-inner{
    width: 5.37rem;
    height: 5.37rem;
    position: absolute;
    background: url("../images/wheels.png");
    background-size: contain;
    animation: rotates 10s linear infinite;
    left:0;
    top:0;
}
.item {
    width: 0.64rem;
    height: 0.64rem;
    position: absolute;
    left: 2.365rem;
    top: 2.365rem;
    background: url("../images/house.png");
    background-size: contain;
    z-index: 99;
}

.item:nth-of-type(1) {
    animation: wheels1 10s linear infinite;
}

.item:nth-of-type(2) {
    animation: wheels2 10s linear infinite;
}

.item:nth-of-type(3) {
    animation: wheels3 10s linear infinite;
}

.item:nth-of-type(4) {
    animation: wheels4 10s linear infinite;
}

.item:nth-of-type(5) {
    animation: wheels5 10s linear infinite;
}

.item:nth-of-type(6) {
    animation: wheels6 10s linear infinite;
}

.item:nth-of-type(7) {
    animation: wheels7 10s linear infinite;
}

.item:nth-of-type(8) {
    animation: wheels8 10s linear infinite;
}
/*  */
#five{
    width:7.5rem;
    height:100%;
    position: absolute;
    left:36.3rem;
    top:0;
    background-image: url("../images/bg_07.png");
    background-size: cover;
    background-position: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    opacity: 0;
    transform: rotate(360deg) scale(4,4);
    transition: 1s;
}
#six{
    width:7.5rem;
    height:100%;
    position: absolute;
    left:36.3rem;
    top:0;
    display: none;
    opacity: 0;
}
#six > div{
    width: 25%;
    height:100%;
    background-size: 100% 100%;
    float: left;
}
#six > div:nth-of-type(1){
    background-image: url("../images/bg_081.png");
    transform: translateY(-100%);
}
#six > div:nth-of-type(2){
    background-image: url("../images/bg_082.png");
    transform: translateY(100%);
}
#six > div:nth-of-type(3){
    background-image: url("../images/bg_083.png");
    transform: translateY(-100%);
}
#six > div:nth-of-type(4){
    background-image: url("../images/bg_084.png");
    transform: translateY(100%);
}

#six.active > div:nth-of-type(1) , #six.active > div:nth-of-type(3){
    animation: sdown 3s linear forwards 1s;
}
#six.active > div:nth-of-type(2) , #six.active > div:nth-of-type(4){
    animation: sup 3s linear forwards 1s;
}

@keyframes sdown {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes sup {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0);
    }
}

/*  */

#seven{
    width: 7.5rem;
    height: 100%;
    position: relative;
    flex: none;
    background-image: url("../images/bg_09.png");
    background-position: center;
    background-size: cover;
}
#eight{
    width: 7.5rem;
    height: 100%;
    position: relative;
    flex: none;
    background-image: url("../images/bg_10.png");
    background-position: center;
    background-size: cover;
}



@keyframes car {
    0% {
        transform: translateX(0.5rem) scale(1, 1);
    }
    15% {
        transform: translateX(0.5rem) scale(1.1, 1.1);
    }
    30% {
        transform: translateX(0.5rem) scale(1, 1);
    }
    100% {
        transform: translateX(7.5rem);
    }
}

@keyframes ballon1 {
    0% {
        transform: translateY(13rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

#seven.active .car {
    width: 4.34rem;
    height: 2.24rem;
    position: absolute;
    left: 0;
    bottom: 0.96rem;
    background: url("../images/car.png") no-repeat;
    background-size: contain;
    animation: car 2s ease-in 1 forwards;
}

#eight.active .ballon1 {
    width: 5rem;
    height: 6.37rem;
    background: url(../images/ballon1.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 1.25rem;
    top: 0.58rem;
    animation: ballon1 1.5s ease-in .5s forwards;
    z-index: 99;
    transform: translateY(13rem);
}

#eight.active .ballon2 {
    width: 1.19rem;
    height: 1.4rem;
    background: url(../images/ballon2.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 0.79rem;
    top: 4.76rem;
    animation: ballon1 1.5s ease-in;
    z-index: 88;
}

#eight.active .ballon3 {
    width: 0.76rem;
    height: 0.91rem;
    background: url(../images/ballon3.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 5.7rem;
    top: 6.75rem;
    z-index: 88;
    animation: ballon1 1.5s ease-in;
}

#eight.active .ballon4 {
    width: 0.55rem;
    height: 0.63rem;
    background: url(../images/ballon4.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 2.7rem;
    top: 7.66rem;
    z-index: 88;
    animation: ballon1 1.5s ease-in;
}

#eight.active .ballon5 {
    width: 1.49rem;
    height: 1.84rem;
    background: url(../images/ballon5.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 6.4rem;
    top: 2.88rem;
    z-index: 88;
    animation: ballon1 1.5s ease-in;
}